# Used on master and staging branches
name: Production CI

on:
  push:
    # Sequence of patterns matched against refs/heads
    branches:
      - "master" # Push events on all branchs

jobs:
  test:
    name: Test, Build & Release
    runs-on: ubuntu-latest
    timeout-minutes: 30

    strategy:
      matrix:
        node-version: [12]

    steps:
      - uses: rokroskar/workflow-run-cleanup-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/checkout@v1

      - run: yarn add @bluebase/cli
